<div class="ingestDetail" *ngIf=isShow>
    <div class="bgContent">
    </div>
    <div class="content">
        <div class="Header">
            <span>Thêm mới thẻ ingest</span>
            <div class="close" (click)="close()">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="form-input">
            <div class="input-box">
                <label for="nameTag" class="title">Tên thẻ(<span class="required">*</span>)</label>
                <input type="text" name="nameTag" class="input-value input-text" placeholder="Nhập tên thẻ">
            </div>
            <div class="input-box">
                <label class="title">Tên chủ thẻ(<span class="required">*</span>)</label>
                <select class="input-value" title="Tên chủ thẻ">
                    <option *ngFor="let empoyee of Empoyee">{{empoyee.name}}</option>
                </select>
            </div>
            <div class="input-box">
                <label class="title">Thể loại ingest(<span class="required">*</span>)</label>
                <input type="text" class="input-value input-text" placeholder="Thể loại thẻ ingest">
            </div>
            <div class="input-box">
                <label class="title">Ghi chú</label>
                <input class="input-value input-text" type="text" placeholder="Nhập ghi chú">
            </div>
            <div class="input-box">
                <label class="title">Hoạt động</label>
                <input class="input-value input-checkbox" type="checkbox" title="Hoạt động">
            </div>
            <div class="action">
               <i class="btn btn-primary btn-action">Lưu</i>
               <i class="btn btn-warning btn-action" (click)="close()">Đóng</i>
            </div>
        </div>
    </div>
</div>