<div class="ingestDetail" *ngIf=isShow>
    <div class="bgContent">
    </div>
    <div class="content">
        <div class="Header">
            <span>Thêm mới thẻ ingest</span>
            <div class="close" (click)="close()">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="form-input">
            <div class="input-box">
                <span class="title">Tên thẻ(<span class="required">*</span>)</span>
                <input type="text" class="input-value input-text" placeholder="">
            </div>
            <div class="input-box">
                <span class="title">Tên chủ thẻ(<span class="required">*</span>)</span>
                <select class="input-value">
                    <option>Chọn chủ thẻ</option>
                </select>
            </div>
            <div class="input-box">
                <span class="title">Thể loại ingest(<span class="required">*</span>)</span>
                <input type="text" class="input-value input-text" placeholder="">
            </div>
            <div class="input-box">
                <span class="title">Ghi chú</span>
                <input class="input-value input-text" type="text" placeholder="">
            </div>
            <div class="input-box">
                <span class="title">Hoạt động</span>
                <input class="input-value input-checkbox" type="checkbox">
            </div>
            <div class="action">
               <i class="btn btn-primary btn-action">Lưu</i>
               <i class="btn btn-warning btn-action" (click)="close()">Đóng</i>
            </div>
        </div>
    </div>
</div>