<div class="MagangerIngest">
    <div class="hearder col-12"><span>Quản lý danh mục thẻ Ingest</span></div>
    <div class="control">
        <div class="action-button">
            <i class="btn btn-success">Tải lại</i>
            <i class="btn btn-primary" (click)="Add()">Thêm mới</i>
        </div>
        <div class="search"><input class="form-control" placeholder="Tìm kiếm..." title="Tìm kiếm..." (keyup)="Search($event)"></div>
    </div>
    <div class="gListIngest">
        <table>
            <tr>
                <th>Mã thẻ</th>
                <th>Tên thẻ</th>
                <th>Thể loại thẻ</th>
                <th>Chủ thẻ</th>
                <th>Ghi chú</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
            </tr>
            <tr *ngFor="let item of ingestSrc">
                <td>{{item.IngestCode}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.PositionName}}</td>
                <td>{{item.CardholderName}}</td>
                <td>{{item.Note}}</td>
                <td *ngIf="item.Status"><span class="enable">Đang hoạt động</span></td>
                <td *ngIf="!item.Status"><span class="disable">Không hoạt đông</span></td>
                <td>
                    <div class="action">
                        <i class="edit fas fa-edit" (click)="Edit(item)"></i>
                        <i class="delete far fa-trash-alt" (click)="Delete(item)"></i>
                    </div>
                </td>
            </tr>

        </table>
    </div>

    <div class="padding col-12">
        <div class="title">
            <span>Hiển thị 1-10 trên 89 kết quả</span>
        </div>
        <div class="paddingAction">
            <select class="sizePage" name="sizePage" title="chọn số dòng" [(ngModel)]="sizeChoose">
                <option *ngFor="let item of pageSize">{{item}}</option>
            </select>
            <i class="btn btn-round">&lt;&lt;</i>
            <i class="btn btn-round">&lt;</i>
            <span>Trang</span>
            <input type="number" value="1" placeholder="input value" />
            <span> trên {{numberPage}}</span>
            <i class="btn btn-round">&gt;</i>
            <i class="btn btn-round">&gt;&gt;</i>
        </div>
    </div>
</div>
<app-ingest-detail [isShow]=isShowAdd [isAdd]=isAdd [isEdit]=isEdit (changeShow)="changeShowAdd()" [ingestData]=ingestEdit
[employeeSelect]=employeeSelect
></app-ingest-detail>