<div>
    <div class="hearder col-12"><span>Quản lý danh mục thẻ Ingest</span></div>
    <div class="action">
        <div class="action-button">
            <i class="btn btn-success">Tải lại</i>
            <i class="btn btn-primary">Thêm mới</i>
        </div>
        <div class="search"><input class="form-control" placeholder="Tìm kiếm..." title="Tìm kiếm..."></div>
    </div>
    <div class="gListIngest">
        <table style="width:100%">
            <tr>
                <th>Mã thẻ</th>
                <th>Tên thẻ</th>
                <th>Thể loại thẻ</th>
                <th>Chủ thẻ</th>
                <th>Ghi chú</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
            </tr>
            <tr>
                <td>MT0010</td>
                <td>Thu Sang</td>
                <td>Thẻ nhớ</td>
                <td>Nguyễn thị Sang</td>
                <td>Trần Thị Hạnh</td>
                <td>Đang hoạt động</td>
                <td>
                    <div class="action">
                        <i class="edit "></i>
                        <i class="delete"></i>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="pading">
        <div class="title">
            <span>Hiển thị 1-10 trên 89 kết quả</span>
        </div>
        <div class="padingAction">
            <select>
                <option>10</option>
                <option>20</option>
                <option>30</option>
            </select>
            <button></button>
            <button></button>
            <input value="1" />
            <button></button>
            <button></button>
        </div>
    </div>
</div>