<div class="MagangerIngest">
    <div class="hearder col-12"><span>Quản lý danh mục thẻ Ingest</span></div>
    <div class="control">
        <div class="action-button">
            <i class="btn btn-success">Tải lại</i>
            <i class="btn btn-primary">Thêm mới</i>
        </div>
        <div class="search"><input class="form-control" placeholder="Tìm kiếm..." title="Tìm kiếm..."></div>
    </div>
    <div class="gListIngest">
        <table style="width:100%">
            <tr>
                <th>Mã thẻ</th>
                <th>Tên thẻ</th>
                <th>Thể loại thẻ</th>
                <th>Chủ thẻ</th>
                <th>Ghi chú</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
            </tr>
            <tr>
                <td>MT0010</td>
                <td>Thu Sang</td>
                <td>Thẻ nhớ</td>
                <td>Nguyễn thị Sang</td>
                <td>Trần Thị Hạnh</td>
                <td><span class="disable">Đang hoạt động</span></td>
                <td>
                    <div class="action">
                        <i class="edit fas fa-edit"></i>
                        <i class="delete far fa-trash-alt"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td>MT0010</td>
                <td>Thu Sang</td>
                <td>Thẻ nhớ</td>
                <td>Nguyễn thị Sang</td>
                <td>Trần Thị Hạnh</td>
                <td><span class="disable">Đang hoạt động</span></td>
                <td>
                    <div class="action">
                        <a href="#"><i class="edit fas fa-edit"></i></a>
                        <a href="#"><i class="delete far fa-trash-alt"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>MT0010</td>
                <td>Thu Sang</td>
                <td>Thẻ nhớ</td>
                <td>Nguyễn thị Sang</td>
                <td>Trần Thị Hạnh</td>
                <td><span class="disable">Đang hoạt động</span></td>
                <td>
                    <div class="action">
                        <a href="#"><i class="edit fas fa-edit"></i></a>
                        <a href="#"><i class="delete far fa-trash-alt"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>MT0010</td>
                <td>Thu Sang</td>
                <td>Thẻ nhớ</td>
                <td>Nguyễn thị Sang</td>
                <td>Trần Thị Hạnh</td>
                <td><span class="enable">Đang hoạt động</span></td>
                <td>
                    <div class="action">
                        <a href="#"><i class="edit fas fa-edit"></i></a>
                        <a href="#"><i class="delete far fa-trash-alt"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>MT0010</td>
                <td>Thu Sang</td>
                <td>Thẻ nhớ</td>
                <td>Nguyễn thị Sang</td>
                <td>Trần Thị Hạnh</td>
                <td><span class="disable">Đang hoạt động</span></td>
                <td>
                    <div class="action">
                        <a href="#"><i class="edit fas fa-edit"></i></a>
                        <a href="#"><i class="delete far fa-trash-alt"></i></a>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="padding col-12">
        <div class="title">
            <span>Hiển thị 1-10 trên 89 kết quả</span>
        </div>
        <div class="paddingAction">
            <select class="sizePage" name="sizePage">
                <option>10</option>
                <option>20</option>
                <option>30</option>
            </select>
            <a href="#"><i class="btn btn-round">&lt;&lt;</i></a>
            <a href="#"><i class="btn btn-round">&lt;</i></a>
            <span>Trang</span>
            <input value="1" />
            <span> trên 9</span>
            <a href="#"><i class="btn btn-round">&gt;</i></a>
            <a href="#"><i class="btn btn-round">&gt;&gt;</i></a>
        </div>
    </div>
</div>
<app-ingest-detail></app-ingest-detail>