.header {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: inline-block;
    text-align: left;
    height: 100px;
}

.detail {
    border: 1px solid black;
    padding: 0px 20px;
    
}

.detail .input-text .item .title {
    display: inline-block;
    width: 150px;
}

.detail .input-text .item-contain {
    display: inline-block;
    width: calc(50% - 40px);
}

.detail .input-text .item-contain:nth-child(2) {
    position: absolute;
    right: 0;
}

.input-text .item {
    padding-bottom: 15px;
}
.input-checkbox{
    padding-top: 30px;
    display: block;   
}
.input-checkbox .item{
    display: inline-block;
    width: calc(25% );
}
.input-checkbox label{
    display: inline-block;
    width: 50%;
}
.input-checkbox input{
    height: 15px;
    width: 50%;
    display: inline-block;
    
    
}