<div class="ingestTagDetail" *ngIf="isShow">
    <div class="bg"></div>
    <div class="content">
        <div class="header">
            <span>Tạo phiếu Ingest</span>
        </div>
        <div class="detail">
            <div class="input-text row">
                <div class="col-md-6">
                    <div class="item">
                        <div class="left">
                            <span class="title">Tên file(Tên đề tài): </span>
                        </div>
                        <div class="right">
                            <input class="input-value" type="text">
                            <div *ngFor="let item of topicSrc" [hidden]="!item.IsShow" class="filter">
                                <span>{{item.Name}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">
                            <label for="employee" class="title">Phóng viên: </label>
                        </div>
                        <div class="right">
                            <input class="input-value" name="employee" type="text" (keyup)="eplChangePvValue($event)">
                            <div *ngFor="let item of employeeReportSrc" [hidden]="!item.IsShow" class="filter">
                                <span>{{item.Name}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">
                            <span class="title">Người đăng ký: </span>
                        </div>
                        <div class="right">
                            <input class="input-value" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item">
                        <div class="left">
                            <label for="productionUnit" class="title">Đơn vị sản xuất: </label>
                        </div>
                        <div class="right">
                            <input class="input-value" name="productionUnit" type="text"
                                (keyup)="proUnitChangenValue($event)">
                            <div *ngFor="let item of productionUnitSrc" [hidden]="!item.IsShow" class="filter">
                                <span>{{item.Name}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item">
                            <div class="left">
                                <label for="cameraman" class="title">Quay phim: </label>
                            </div>
                            <div class="right">
                                <input class="input-value" name="cameraman" type="text"
                                    (keyup)="eplChangeQPValue($event)">
                                <div *ngFor="let item of employeeCameramanSrc" [hidden]="!item.IsShow" class="filter">
                                    <span>{{item.Name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">
                            <span class="title">Chương trình phát sóng: </span>
                        </div>
                        <div class="right">
                            <input class="input-value" type="text">
                            <div *ngFor="let item of programShowSrc"  class="filter">
                                <span>{{item.Name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="input-checkbox">
                <div class="item">
                    <label>Bản tin: </label>
                    <input class="input-value" type="checkbox" name="" id="">
                </div>
                <div class="item">
                    <label>Chuyên mục: </label>
                    <input class="input-value" type="checkbox" name="" id="">
                </div>
                <div class="item">
                    <label>Phóng sự: </label>
                    <input class="input-value" type="checkbox" name="" id="">
                </div>
                <div class="item">
                    <label>Chương trình khác: </label>
                    <input class="input-value" type="checkbox" name="" id="">
                </div>
            </div>
            <div class="input-select">
                <div class="item">
                    <label>Mã thẻ: </label>
                    <select class="input-value" name="" id="">
                        <option value="1">1</option>
                    </select>
                </div>
                <div class="item">
                    <label>Thẻ loại ingest: </label>
                    <select class="input-value" name="" id="">
                        <option value="1">1</option>
                    </select>
                </div>
                <div class="item">
                    <label>Lưu tư liệu: </label>
                    <input class="input-value" type="datetime" placeholder="Nhập text">
                </div>
            </div>
        </div>
        <div class="gTable">
            <table>
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã thẻ</th>
                        <th>Tên thẻ</th>
                        <th>Thể loại ingest</th>
                        <th>Ngày gửi thẻ</th>
                        <th>Người nhận thẻ<span>(Ngày trả thẻ)</span></th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>MT0001</td>
                        <td>T/Xuân</td>
                        <td>ổ cứng</td>
                        <td>04/04/2021</td>
                        <td><select name="" id="">
                                <option value="1">Thanh Hà</option>
                            </select></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>MT0001</td>
                        <td>T/Xuân</td>
                        <td>ổ cứng</td>
                        <td>04/04/2021</td>
                        <td><select name="" id="">
                                <option value="1">Thanh Hà</option>
                            </select></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>MT0001</td>
                        <td>T/Xuân</td>
                        <td>ổ cứng</td>
                        <td>04/04/2021</td>
                        <td><select name="" id="">
                                <option value="1">Thanh Hà</option>
                            </select></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>MT0001</td>
                        <td>T/Xuân</td>
                        <td>ổ cứng</td>
                        <td>04/04/2021</td>
                        <td><select name="" id="">
                                <option value="1">Thanh Hà</option>
                            </select></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="histroy">
            <span>*Lịch sử xử lý</span>
            <div class="text">
                <textarea name="" id="" rows="5" placeholder="Chưa có"></textarea>
            </div>
        </div>
        <div class="action">
            <i class="btn btn-primary" (click)="Save()">Lưu và đóng</i>
            <i class="btn btn-primary">Trình duyệt</i>
            <i class="btn btn-warning" (click)="Close()">Đóng</i>
        </div>
    </div>
</div>