<div class="ingestTagDetail" *ngIf="isShow">
    <div class="bg"></div>
    <div class="content">
        <div class="header">
            <span>Tạo phiếu Ingest</span>
        </div>
        <div class="detail">
            <div class="input-text row">
                <div class="col-md-6">
                    <div class="item">
                        <div class="left">
                            <span class="title">Tên file(Tên đề tài): </span>
                        </div>
                        <div class="right">
                            <input class="input-value" type="text" (keyup)="TopicChangePvValue($event)"
                                [value]="summaryIngest.ticketIngest.TopicName" [disabled]="!isAdd"
                                [(ngModel)]="summaryIngest.ticketIngest.TopicName">
                            <div *ngFor="let item of topicSrc" [hidden]="!item.IsShow" class="filter"
                                (click)="TopicSelect(item)">
                                <span>{{item.Name}}</span>
                            </div>
                            <div>
                                <span class="required" [hidden]="!isShowTopicRequired">Tên đề tài không được để trống</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">
                            <label for="employee" class="title">Phóng viên: </label>
                        </div>
                        <div class="right">
                            <input class="input-value" name="employee" type="text" (keyup)="eplChangePvValue($event)"
                                [value]="summaryIngest.ticketIngest.ReporterName" [disabled]="!isAdd"
                                [(ngModel)]="summaryIngest.ticketIngest.ReporterName">
                            <div *ngFor="let item of employeeReportSrc" [hidden]="!item.IsShow" class="filter"
                                (click)="EmployeePVSelect(item)">
                                <span>{{item.Name}}</span>
                            </div>
                            <div>
                                <span class="required" [hidden]="!isShowReporterRequired">Tên phóng viên không được để trống</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">
                            <label for="createName" class="title">Người đăng ký: </label>
                        </div>
                        <div class="right">
                            <input class="input-value" name="createName" type="text" [disabled]="!isAdd"
                                [value]="summaryIngest.ticketIngest.CreateName" (keyup)="eplCreate()"
                                [(ngModel)]="summaryIngest.ticketIngest.CreateName">
                            <div>
                                <span class="required" [hidden]="!isShowCreateRequired">Tên người đăng ký không được để trống</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item">
                        <div class="left">
                            <label for="productionUnit" class="title">Đơn vị sản xuất: </label>
                        </div>
                        <div class="right">
                            <input class="input-value" name="productionUnit" type="text"
                                (keyup)="proUnitChangenValue($event)" [disabled]="!isAdd"
                                [value]="summaryIngest.ticketIngest.ProductionName"
                                [(ngModel)]="summaryIngest.ticketIngest.ProductionName">
                            <div *ngFor="let item of productionUnitSrc" [hidden]="!item.IsShow" class="filter"
                                (click)="ProductionSelect(item)">
                                <span>{{item.Name}}</span>
                            </div>
                            <div>
                                <span class="required" [hidden]="!isShowProductionRequired">Tên đơn vị sx không được để trống</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item">
                            <div class="left">
                                <label for="cameraman" class="title">Quay phim: </label>
                            </div>
                            <div class="right">
                                <input class="input-value" name="cameraman" type="text"
                                    (keyup)="eplChangeQPValue($event)" [disabled]="!isAdd"
                                    [value]="summaryIngest.ticketIngest.CameramanName"
                                    [(ngModel)]="summaryIngest.ticketIngest.CameramanName">
                                <div *ngFor="let item of employeeCameramanSrc" [hidden]="!item.IsShow" class="filter"
                                    (click)="EmployeeQPSelect(item)">
                                    <span>{{item.Name}}</span>
                                </div>
                                <div>
                                    <span class="required" [hidden]="!isShowCameramanRequired">Tên quay phim không được để trống</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">
                            <span class="title">Chương trình phát sóng: </span>
                        </div>
                        <div class="right">
                            <input class="input-value" type="text" (keyup)="programChangeValue($event)"
                                [value]="summaryIngest.ticketIngest.ProgramName" [disabled]="!isAdd"
                                [(ngModel)]="summaryIngest.ticketIngest.ProgramName">
                            <div *ngFor="let item of programShowSrc" [hidden]="!item.IsShow" class="filter"
                                (click)="programSelect(item)">
                                <span>{{item.Name}}</span>
                            </div>
                            <div>
                                <span class="required" [hidden]="!isShowProgramRequired" >Tên chương trình phát sóng không được để trống</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="input-checkbox">
                <div class="item">
                    <label>Bản tin: </label>
                    <input class="input-value" type="checkbox" name="" id="" [disabled]="!isAdd" (change)="checkTypeProgram()"
                        [checked]="summaryIngest.ticketIngest.IsNew" [(ngModel)]="summaryIngest.ticketIngest.IsNew">
                </div>
                <div class="item">
                    <label>Chuyên mục: </label>
                    <input class="input-value" type="checkbox" name="" id="" [disabled]="!isAdd" (change)="checkTypeProgram()"
                        [checked]="summaryIngest.ticketIngest.IsCategory"
                        [(ngModel)]="summaryIngest.ticketIngest.IsCategory">
                </div>
                <div class="item">
                    <label>Phóng sự: </label>
                    <input class="input-value" type="checkbox" name="" id="" [disabled]="!isAdd"
                        [checked]="summaryIngest.ticketIngest.IsReporting" (change)="checkTypeProgram()"
                        [(ngModel)]="summaryIngest.ticketIngest.IsReporting">
                </div>
                <div class="item">
                    <label>Chương trình khác: </label>
                    <input class="input-value" type="checkbox" name="" id="" [disabled]="!isAdd"
                        [checked]="summaryIngest.ticketIngest.IsOtherProgram" (change)="checkTypeProgram()"
                        [(ngModel)]="summaryIngest.ticketIngest.IsOtherProgram">
                </div>
            </div>
            <div>
                <span class="required center" [hidden]="!isTypeProgramRequired">Phải chọn 1 loại chương trình</span>
            </div>
            <div class="input-select">
                <div class="item">
                    <label>Mã thẻ: </label>
                    <select class="input-value" name="" id="" (mouseup)="SelectIngest($event)" [disabled]="!isAdd">
                        <option *ngFor="let item of ingestSrc" [value]=item.IngestCode>{{item.IngestCode}}</option>
                    </select>
                </div>
                <div class="item">
                    <label>Thẻ loại ingest: </label>
                    <select class="input-value" name="" id="" [disabled]="!isAdd">
                        <option *ngFor="let item of categorySrc" [value]=item.CategoryId>{{item.Name}}</option>
                    </select>
                </div>
                <div class="item">
                    <label>Lưu tư liệu: </label>
                    <input class="input-value" type="text" placeholder="Nhập text" [disabled]="!isAdd"
                        [(ngModel)]="summaryIngest.ticketIngest.SaveDocument">
                </div>
            </div>
        </div>
        <div class="gTable">
            <!-- Thêm mới thẻ -->
            <table *ngIf="isAdd">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã thẻ</th>
                        <th>Tên thẻ</th>
                        <th>Thể loại ingest</th>
                        <th>Ngày gửi thẻ</th>
                        <th>Người nhận thẻ <br /> <span>(Ngày trả thẻ)</span></th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of this.summaryIngest.ticketIngest.IngestDetailFull">
                        <td>1</td>
                        <td>{{item.IngestTag.IngestCode}}</td>
                        <td>{{item.IngestTag.Name}}</td>
                        <td>{{item.IngestTag.CategoryName}}</td>
                        <td><input name="" id="" [value]=item.DateSend></td>
                        <td class="center">
                            <select name="" id="" (change)="changeEmployee(item)" [(ngModel)]="temptEplInRoomIngest">
                                <option *ngFor="let epl of employeeInRoomIngest" [value]=epl.EmployeeId>{{epl.Name}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <div class="act center"><i class="delete far fa-trash-alt" (click)="Remove(item)"></i></div>
                        </td>

                    </tr>
                </tbody>
            </table>
            <!-- Chờ duyệt -->
            <table *ngIf="isPending">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã thẻ</th>
                        <th>Tên thẻ</th>
                        <th>Thể loại ingest</th>
                        <th>Ngày gửi thẻ</th>
                        <th>Người nhận thẻ</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of this.summaryIngest.ticketIngest.IngestDetailFull">
                        <td>1</td>
                        <td>{{item.IngestTag.IngestCode}}</td>
                        <td>{{item.IngestTag.Name}}</td>
                        <td>{{item.IngestTag.CategoryName}}</td>
                        <td><input name="" id="" [value]=item.DateSend></td>
                        <td class="center">
                            <select name="" id="" (change)="changeEmployee(item)" [(ngModel)]="temptEplInRoomIngest">
                                <option *ngFor="let epl of employeeInRoomIngest" [value]=epl.EmployeeId>{{epl.Name}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <div class="act center">
                                <input type="checkbox" class="checkAction"
                                    (change)="SelectIngesAcitionDeltail(item, $event)" name="" id="">
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
            <!-- trả thẻ, gửi file -->
            <table *ngIf="isApproved">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã thẻ</th>
                        <th>Tên thẻ</th>
                        <th>Trả thẻ</th>
                        <th>Thể loại ingest</th>
                        <th>Ngày gửi thẻ</th>
                        <th>Người nhận thẻ</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of this.summaryIngest.ticketIngest.IngestDetailFull">
                        <td>1</td>
                        <td>{{item.IngestTag.IngestCode}}</td>
                        <td>{{item.IngestTag.Name}}</td>
                        <td><input type="checkbox" class="checkAction" name=""
                                (change)="SelectIngestReturnDeltail(item, $event)" id=""></td>
                        <td>{{item.IngestTag.CategoryName}}</td>
                        <td><input name="" id="" [value]=item.DateSend></td>
                        <td class="center">
                            <select name="" id="" (change)="changeEmployeeReturn(item)" [(ngModel)]="temptEplTakerTag">
                                <option *ngFor="let epl of employeeReporterOrEditor" [value]=epl.EmployeeId>{{epl.Name}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <div class="act center">
                                <input type="checkbox" class="checkAction" name="" id=""
                                    (change)="SelectIngesAcitionDeltail(item, $event)">
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="histroy">
            <span>*Lịch sử xử lý</span>
            <div class="text">
                <div *ngFor="let item of this.summaryIngest.HistoryIngest">
                    {{item.NameAction}}
                </div>
            </div>
        </div>
        <div class="action">
            <i class="btn btn-primary" [ngClass]="{disabled: IngestDetailReturnSelect.length <= 0}"
                [hidden]="!isApproved" (click)="Save(4)">Trả thẻ</i>
            <i class="btn btn-primary" [ngClass]="{disabled: IngestDetailActionSelect.length <= 0}"
                [hidden]="!isApproved" (click)="Save(3)">Đã gửi file</i>
            <i class="btn btn-primary" [ngClass]="{disabled: IngestDetailActionSelect.length <= 0}"
                [hidden]="!isPending" (click)="Save(2)">Nhận yêu cầu</i>
            <i class="btn btn-primary" [hidden]="!isAdd" (click)="Save(1)">Trình duyệt</i>
            <i class="btn btn-primary" (click)="Save(0)">Lưu và đóng</i>
            <i class="btn btn-warning" (click)="Close()">Đóng</i>
        </div>
    </div>
</div>

<app-submit-return-tag [isShowSubmit]=isShowSubmit [ticketIngest]="summaryIngest.ticketIngest"
    (changeShowSubmit)="changeShowSubmit()"></app-submit-return-tag>