<div class="summary-table-ingest">
    <div class="hearder">
        <span>Bảng tổng hợp Ingest</span>
    </div>
    <div class="action-filter">
        <div class="filter">
            <div class="item">
                <div class="item-1">
                    <span>Thời gian</span>
                    <input type="date" name="" id="">
                    
                </div>
                <div>
                    <span>Tên phóng viên</span>
                    <select class="item-input" name="" id="" title="Tên phóng viên">
                        <option *ngFor="let item of employeeReportSrc" value="item.EmployeeId">{{item.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="item">
                <div class="item-1">
                    <span>Đơn vị sản xuất</span>
                    <select class="item-input" name="" id="" title="Đơn vị sản xuất">
                        <option *ngFor="let item of productionUnitSrc" value="item.ProductionUnitId">{{item.Name}}
                        </option>
                    </select>
                </div>
                <div>
                    <span>Tên Quay phim</span>
                    <select class="item-input" name="" id="" title="Tên Quay Phim">
                        <option *ngFor="let item of employeeCameramanSrc" value="item.EmployeeId">{{item.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="item">
                <div class="item-1">
                    <span>Trang thái</span>
                    <input class="item-input" type="text">
                    <select class="item-input" name="" id="" title="Trạng thái" hidden>
                        <option *ngFor="let item of statusIngests" value="item.StatusIngestId">{{item.Name}}</option>
                    </select>

                </div>
                <div>
                    <span>Tìm kiếm</span>
                    <input type="text" class="item-input" placeholder="Nhập từ khoá">
                </div>
            </div>
            <div class="item">
                <i class="btn btn-success">Xuất Execl</i>
                <i class="btn btn-primary" (click)="Add()">Thêm mới</i>
            </div>
        </div>
    </div>
    <div class="gTable">
        <table>
            <thead>
                <tr>
                    <th rowspan="3">STT</th>
                    <th rowspan="3">Trạng thái</th>
                    <th rowspan="3">Ngày</th>
                    <th rowspan="3">Tên đề tài</th>
                    <th rowspan="3">Phóng viên</th>
                    <th rowspan="3">Quay phim</th>
                    <th rowspan="3">Thể loại ingest</th>
                    <th rowspan="3">Loại tư liệu</th>
                    <th rowspan="3">Thể loại</th>
                    <th colspan="8">Thông tin chi tiết</th>
                    <th rowspan="3">Người nhận thẻ</th>
                </tr>
                <tr>
                    <th colspan="4">Gửi thẻ</th>
                    <th colspan="4">Trả thẻ</th>
                </tr>
                <tr>
                    <th>Thời gian</th>
                    <th>Người gửi thẻ</th>
                    <th>Mã thẻ</th>
                    <th>Tên thẻ</th>
                    <th>Thời gian</th>
                    <th>Người lấy thẻ</th>
                    <th>Mã thẻ</th>
                    <th>Tên thẻ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of summaryingests" (click)="onClick(item)">
                    <td>2</td>
                    <td>{{item.ticketIngest.StatusIngest}}</td>
                    <td>{{item.ticketIngest.SaveDocument}}</td>
                    <td>{{item.ticketIngest.Name}}</td>
                    <td>{{item.ticketIngest.ReporterName}}</td>
                    <td>{{item.ticketIngest.CameramanName}}</td>
                    <td>{{item.ingestDetail[0].Ingest.CategoryName}}</td>
                    <td></td>
                    <td></td>
                    <td>{{item.ingestDetail[0].DateSend}}</td>
                    <td></td>
                    <!-- <td>{{item.ingestDetail[0].EmployeeSend}}</td> -->
                    <td>1</td>
                    <td>{{item.ingestDetail[0].Ingest.Name}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<app-ingest-tag-detail [isShow]=isShow [isReturn]=isReturn [isReceive]=isReceive [isPending]=isPending
    (changeStatusShow)="changeStatusShow()"></app-ingest-tag-detail>
<app-submit-return-tag></app-submit-return-tag>