<div class="summary-table-ingest">
    <div class="hearder">
        <span>Bảng tổng hợp Ingest</span>
    </div>
    <div class="action-filter">
        <div class="filter">
            <div class="item">
                <div class="childer-item">
                    <mat-form-field class="item-input" appearance="fill">
                        <mat-label>Nhập vào thời gian</mat-label>
                        <mat-date-range-input [formGroup]="range" [rangePicker]="picker"   >
                          <input matStartDate formControlName="start" placeholder="Ngày bắt đầu" (dateChange)="StartDate($event)">
                          <input matEndDate formControlName="end" placeholder="Ngày kết thúc" (dateChange)="EndDate($event)">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                      </mat-form-field>
                      
                    <div class="closeFilter" (click)="clearFilterDate()" *ngIf="isFilterDate">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="childer-item">
                    <label for="reporter">Tên phóng viên</label>
                    <select class="item-input" name="reporter" id="" title="Tên phóng viên" (change)="reporterChange()"
                        [(ngModel)]="filter.reporter.EmployeeId">
                        <option *ngFor="let obj of employeeReportSrc" value="{{obj.EmployeeId}}">{{obj.Name}}</option>
                    </select>
                    <div class="closeFilter" *ngIf="filter.reporter.EmployeeId.length>0"
                        (click)="clearFilterReporter()">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="childer-item">
                    <label for="productionUnit">Đơn vị sản xuất</label>
                    <select class="item-input" name="productionUnit" id="" title="Đơn vị sản xuất"
                        (change)="productionUnitChange()" [(ngModel)]="filter.productionUnit.ProductionUnitId">
                        <option *ngFor="let obj of productionUnitSrc" value="{{obj.ProductionUnitId}}">{{obj.Name}}
                        </option>
                    </select>
                    <div class="closeFilter" *ngIf="filter.productionUnit.ProductionUnitId.length>0"
                        (click)="clearFilterProductionUnit()">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="childer-item">
                    <label for="cameramen">Tên Quay phim</label>
                    <select class="item-input" name="cameramen" id="" title="Tên Quay Phim" (change)="cameramenChange()"
                        [(ngModel)]="filter.cameramen.EmployeeId">
                        <option *ngFor="let obj of employeeCameramanSrc" value="{{obj.EmployeeId}}">{{obj.Name}}
                        </option>
                    </select>
                    <div class="closeFilter" *ngIf="filter.cameramen.EmployeeId.length>0"
                        (click)="clearFilterCameramen()">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="childer-item">
                    <label for="statusIngest">Trang thái</label>
                    <select class="item-input" name="statusIngest" id="" title="Trạng thái"
                        (change)="statusIngestChange()" [(ngModel)]="filter.statusIngest.StatusIngestId">
                        <option *ngFor="let obj of statusIngests" value="{{obj.StatusIngestId}}">{{obj.Name}}</option>
                    </select>
                    <div class="closeFilter" *ngIf="filter.statusIngest.StatusIngestId.length>0"
                        (click)="clearFilterStatusIngest()">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="childer-item">
                    <label for="search">Tìm kiếm</label>
                    <input type="text" name="search" class="item-input" placeholder="Nhập từ khoá"
                        [(ngModel)]="filter.strFilter" (keyup)="changStrFilter()"/>
                    <div class="closeFilter" *ngIf="filter.strFilter.length>0" (click)="clearStrFilter()">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                <a class="btn btn-success" (click)="ExportExcel()">Xuất Execl</a>
                <a class="btn btn-primary" (click)="Add()">Thêm mới</a>
            </div>
        </div>
    </div>
    <div class="gTable">
        <table id="tableData" border="1">
            <thead>
                <tr>
                    <th rowspan="3">STT</th>
                    <th rowspan="3">Trạng thái</th>
                    <th rowspan="3">Ngày</th>
                    <th rowspan="3">Tên đề tài</th>
                    <th rowspan="3">Phóng viên</th>
                    <th rowspan="3">Quay phim</th>
                    <th rowspan="3">Thể loại ingest</th>
                    <th rowspan="3">Lưu tư liệu</th>
                    <th rowspan="3">Thể loại</th>
                    <th colspan="8">Thông tin chi tiết</th>
                    <th rowspan="3">Người nhận thẻ</th>
                </tr>
                <tr>
                    <th colspan="4">Gửi thẻ</th>
                    <th colspan="4">Trả thẻ</th>
                </tr>
                <tr>
                    <th>Thời gian</th>
                    <th>Người gửi thẻ</th>
                    <th>Mã thẻ</th>
                    <th>Tên thẻ</th>
                    <th>Thời gian</th>
                    <th>Người lấy thẻ</th>
                    <th>Mã thẻ</th>
                    <th>Tên thẻ</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of summaryingestsFilter; let indexVale = index;">
                    <tr (click)="onClick(item)">
                        <td [attr.rowspan]="item.ingestDetail.length+1" class="center">{{indexVale+1}}</td>
                        <td [attr.rowspan]="item.ingestDetail.length+1">{{item.ticketIngest.StatusIngest}}</td>
                        <td [attr.rowspan]="item.ingestDetail.length+1">{{item.ticketIngest.DateCreate |
                            date:'dd/MM/yyyy'}}</td>
                        <td [attr.rowspan]="item.ingestDetail.length+1" style="max-width: 300px;">
                            {{item.ticketIngest.Name}}</td>
                        <td [attr.rowspan]="item.ingestDetail.length+1">{{item.ticketIngest.ReporterName}}</td>
                        <td [attr.rowspan]="item.ingestDetail.length+1">{{item.ticketIngest.CameramanName}}</td>
                        <td [attr.rowspan]="item.ingestDetail.length+1">{{item.ingestDetail[0].IngestTag.CategoryName}}
                        </td>
                        <td [attr.rowspan]="item.ingestDetail.length+1">{{item.ticketIngest.SaveDocument}}</td>
                        <td [attr.rowspan]="item.ingestDetail.length+1" *ngIf="(item.ticketIngest.IsNew)">Tin</td>
                        <td [attr.rowspan]="item.ingestDetail.length+1" *ngIf="(item.ticketIngest.IsCategory)">Chuyên
                            Mục</td>
                        <td [attr.rowspan]="item.ingestDetail.length+1" *ngIf="(item.ticketIngest.IsReporting)">Phóng sự
                        </td>
                        <td [attr.rowspan]="item.ingestDetail.length+1" *ngIf="(item.ticketIngest.IsOtherProgram)">
                            Chương trình khác</td>
                    </tr>
                    <tr *ngFor="let obj of item.ingestDetail">
                        <td>{{obj.DateSend}}</td>
                        <td>{{item.ticketIngest.CreateName}}</td>
                        <td>{{obj.IngestTag.IngestCode}}</td>
                        <td>{{obj.IngestTag.Name}}</td>
                        <td *ngIf="!(obj.TakerName != undefined && obj.TakerName.length <= 0)">
                            {{obj.DateReturn}}</td>
                        <td *ngIf="!(obj.TakerName != undefined &&obj.TakerName.length <= 0)">
                            {{obj.TakerName}}</td>
                        <td *ngIf="!(obj.TakerName != undefined &&obj.TakerName.length <= 0)">
                            {{obj.IngestTag.IngestCode}}</td>
                        <td *ngIf="!(obj.TakerName != undefined &&obj.TakerName.length <= 0)">
                            {{obj.IngestTag.Name}}
                        </td>
                        <td *ngIf="(obj.TakerName == undefined || obj.TakerName.length <= 0)">
                        </td>
                        <td *ngIf="(obj.TakerName == undefined ||obj.TakerName.length <= 0)">
                        </td>
                        <td *ngIf="(obj.TakerName == undefined ||obj.TakerName.length <= 0)">
                        </td>
                        <td *ngIf="(obj.TakerName == undefined ||obj.TakerName.length <= 0)">
                        </td>
                        <td>{{obj.RecipientName}}</td>
                    </tr>
                </ng-container>
            </tbody>

        </table>
        <!-- <p>{{summaryingests[0]|json}}</p> -->
    </div>
</div>
<app-ingest-tag-detail [isShow]=isShow [isAdd]=isAdd [isPending]=isPending [isApproved]=isApproved [isDarft]=isDarft
    [summaryIngest]=summaryingest (changeStatusShow)="changeStatusShow()"></app-ingest-tag-detail>