<div class="summary-table-ingest">
    <div class="hearder">
        <span>Bảng tổng hợp Ingest</span>
    </div>
    <div class="action-filter">
        <div class="filter">
            <div class="item">
                <div class="item-1">
                    <span>Thời gian</span>
                    <select class="item-input" name="" id="" title="Thời gian"></select>
                </div>
                <div>
                    <span>Tên phóng viên</span>
                    <select class="item-input" name="" id="" title="Tên phóng viên"></select>
                </div>
            </div>
            <div class="item">
                <div class="item-1">
                    <span>Đơn vị sản xuất</span>
                    <select class="item-input" name="" id="" title="Đơn vị sản xuất">
                        <option value="1">Phòng Chính Trị</option>
                        <option value="2">Phòng Chính Trị</option>
                        <option value="3">Phòng Chính Trị</option>
                    </select>
                </div>
                <div>
                    <span>Tên Quay phim</span>
                    <select class="item-input" name="" id="" title="Tên Quay Phim"></select>
                </div>
            </div>
            <div class="item">
                <div class="item-1">
                    <span>Trang thái</span>
                    <select class="item-input" name="" id="" title="Trạng thái"></select>
                </div>
                <div>
                    <span>Tìm kiếm</span>
                    <input type="text" class="item-input" placeholder="Nhập từ khoá">
                </div>
            </div>
            <div class="item">
                <a href="#"><i class="btn btn-success">Xuất Execl</i></a>
                <a href="#"><i class="btn btn-primary">Thêm mới</i></a>
            </div>
        </div>
        <div class="action item"></div>
    </div>
    <div class="gTable">
        <table>
            <thead>
                <tr>
                    <th rowspan="3">STT</th>
                    <th rowspan="3">Trạng thái</th>
                    <th rowspan="3">Ngày</th>
                    <th rowspan="3">Tên đề tài</th>
                    <th rowspan="3">Phóng viên</th>
                    <th rowspan="3">Quay phim</th>
                    <th rowspan="3">Thể loại ingest</th>
                    <th rowspan="3">Loại tư liệu</th>
                    <th rowspan="3">Lưu tư liệu</th>
                    <th rowspan="3">Thể loại</th>
                    <th colspan="8">Thông tin chi tiết</th>
                    <th rowspan="3">Người nhận thẻ</th>
                </tr>
                <tr>
                    <th colspan="4">Gửi thẻ</th>
                    <th colspan="4">Trả thẻ</th>
                </tr>
                <tr>
                    <th>Thời gian</th>
                    <th>Người gửi thẻ</th>
                    <th>Mã thẻ</th>
                    <th>Tên thẻ</th>
                    <th>Thời gian</th>
                    <th>Người lấy thẻ</th>
                    <th>Mã thẻ</th>
                    <th>Tên thẻ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Chờ duyệt</td>
                    <td>04/03/2021</td>
                    <td>Đại hộ đảng toàn quốc</td>
                    <td>Đặng tú</td>
                    <td>D/Công</td>
                    <td>Thẻ nhớ</td>
                    <td>24 tháng</td>
                    <td>Tin</td>
                    <td>05/03/2021</td>
                    <td>Đặng Tú</td>
                    <td>1</td>
                    <td>thể loại</td>
                    <td>D/Công</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Chờ duyệt</td>
                    <td>04/03/2021</td>
                    <td>Đại hộ đảng toàn quốc</td>
                    <td>Đặng tú</td>
                    <td>D/Công</td>
                    <td>Thẻ nhớ</td>
                    <td>24 tháng</td>
                    <td>Tin</td>
                    <td>05/03/2021</td>
                    <td>Đặng Tú</td>
                    <td>1</td>
                    <td>thể loại</td>
                    <td>D/Công</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Chờ duyệt</td>
                    <td>04/03/2021</td>
                    <td>Đại hộ đảng toàn quốc</td>
                    <td>Đặng tú</td>
                    <td>D/Công</td>
                    <td>Thẻ nhớ</td>
                    <td>24 tháng</td>
                    <td>Tin</td>
                    <td>05/03/2021</td>
                    <td>Đặng Tú</td>
                    <td>1</td>
                    <td>thể loại</td>
                    <td>D/Công</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Chờ duyệt</td>
                    <td>04/03/2021</td>
                    <td>Đại hộ đảng toàn quốc</td>
                    <td>Đặng tú</td>
                    <td>D/Công</td>
                    <td>Thẻ nhớ</td>
                    <td>24 tháng</td>
                    <td>Tin</td>
                    <td>05/03/2021</td>
                    <td>Đặng Tú</td>
                    <td>1</td>
                    <td>thể loại</td>
                    <td>D/Công</td>
                    <td>05/02/2021</td>
                    <td>M/Đức</td>
                    <td>1</td>
                    <td>M/Đức</td>
                    <td>Thanh Hà</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-ingest-tag-detail></app-ingest-tag-detail>
<app-submit-return-tag></app-submit-return-tag>