<div class="nav-panel">
    <div class="nav">
        <a href="http://localhost:4200/">
            <div class="hearder"><span>Home</span></div>
        </a>
        <div class="nav-item">
            <a href="http://localhost:4200/manageringest">
                <i class="fas fa-angle-down"></i>
            <span>Bảng tổng hợp Ingest</span>
            </a>
        </div>
        <div class="nav-item">
            <a href="http://localhost:4200/manageringesttag">
                <i class="fas fa-angle-down"></i>
                <span>Quản lý thẻ Ingest</span>
            </a>
        </div>
    </div>

</div>