<div class="nav-panel">
    <div class="nav">
        <div class="hearder"><span>Home</span></div>
        <div class="nav-item">
            <i class="fas fa-angle-down"></i>
            <span>Bảng tổng hợp Ingest</span>
        </div>
        <div class="nav-item">
            <i class="fas fa-angle-down"></i>
            <span>Quản lý thẻ Ingest</span>
        </div>
        <!-- <div class="nav-item">
            <i class="fas fa-angle-down"></i>
            <span>item 3</span>
        </div>
        <div class="nav-item">
            <i class="fas fa-angle-down"></i>
            <span>item 4</span>
        </div>
        <div class="nav-item">
            <i class="fas fa-angle-down"></i>
            <span>item 5</span>
        </div> -->
    </div>

</div>